<h3>Manage Roles</h3>
<hr>


<button class="btn btn-primary" (click)="displayRoleForm()">New Role</button>

<div class="row mt-4" [hidden]="hideForm">
  <div class="col-3">
    <div class="form-group">
        <label for="exampleInputEmail1">Role Name</label>
        <input type="text" class="form-control" id="newRoleName" aria-describedby="emailHelp" placeholder="Role Name" [(ngModel)]="newRoleName.rolename">
    </div>   
    <div class="form-group">
      <button (click)="addRole()" class="btn btn-info btn-sm">Add Role</button>
    </div> 
  </div>
</div>

<div class="row">
  <div class="col-1">Id</div>
  <div class="col-1">Name</div>
</div>
<div *ngIf="roleList">
  <div  class="row" *ngFor="let role of roleList">
    <div class="col-1">{{role?.id}}</div>
    <div class="col-1">{{role?.name}}</div>
  </div>
</div>

 

