
.surveycontent {
    font-size: 1.4rem;
    color: #303030;
  }

.surveyquestion {
  font-size: 12px;
}
  
.surveyfooter {
  padding: 2rem 1rem;
  margin-top: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;

  background-image: linear-gradient(white, #235B9B);
}
.hd1 {
  color: #fff;
  font-weight: #EEF6FC;
  text-shadow: 2px 2px 4px #000000;
}


  
.form-check-label {
  font-size: 1.2rem;
}
  
.fulltext {
  width: 100%;
  height: 100px;
}

  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  
    background: -moz-linear-gradient(
      top,
      rgba(30, 87, 153, 1) 0%,
      rgba(30, 87, 153, 0.54) 46%,
      rgba(125, 185, 232, 0.18) 82%,
      rgba(125, 185, 232, 0) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(30, 87, 153, 1) 0%,
      rgba(30, 87, 153, 0.54) 46%,
      rgba(125, 185, 232, 0.18) 82%,
      rgba(125, 185, 232, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(30, 87, 153, 1) 0%,
      rgba(30, 87, 153, 0.54) 46%,
      rgba(125, 185, 232, 0.18) 82%,
      rgba(125, 185, 232, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  
    
  }