.card-deck .card {
    max-width: calc(25% - 30px);
}

.logo {
    height:80px;
    background-color:#FFFFFF;
    margin-top:10px;
    overflow: hidden;
}

.logo img {
    height:100%;
}

.clickable {
    cursor: pointer;
}