<h3>Edit Company: {{company?.name}}</h3>
<hr>

<p-tabView>
    <p-tabPanel header="Basic Setting">

        <div class="form-group">
            <label class="first" for="companyname">Company Name:</label>
            <input type="companyname" class="form-control" id="companyname" [value]="company?.name" [(ngModel)]="companyName">
        </div>

        <h3>Active - {{active}} </h3>
        <p-inputSwitch [(ngModel)]="active" (onChange)="updateActive($event)"></p-inputSwitch>

        <div class="d-flex justify-content-end p-3"><button type="button" class="btn btn-primary" (click)="updateCompany()">Save Changes</button></div>
    </p-tabPanel>
    <p-tabPanel header="Add / Edit Surveys">
        
        <table class="table table-striped table-bordered table-hover">
         <tr>
            <th style="width:5%">Id</th>
            <th>Name</th>     
            <th style="width:10%"></th>                     
         </tr>
         <tr *ngFor="let survey of surveyList">
            <td>{{survey.surveyId}}</td>
            <td>{{survey.surveyTypes.description}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="editSurvey(survey)">Edit</button>
            </td>
         </tr>
        </table>
        
        <pre>{{surveyList | json}}</pre>
    </p-tabPanel>
    <p-tabPanel header="Survey Status">
          <p-card header="Add / Remove Surveys" subheader="Click to Select" [style]="{width: '360px'}" styleClass="ui-card-shadow">
              <p-header>
                   <img *ngIf="dataReady" [src]="company.logoImagePath"> 
              </p-header>
              <div>
                  <div *ngFor="let type of surveyTypes">
                   <p-checkbox  name="grpsurveytypes" [value]="type.surveyTypeId" [label]="type.description" [(ngModel)]="selectedSurveyTypes"></p-checkbox>
                  </div>
                  


                **  {{selectedSurveyTypes | json}}
             </div>
                  
              <p-footer>
                  <button pButton (click)="updateCompanySurveys()" type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
              </p-footer>
          </p-card>

    </p-tabPanel>
    <p-tabPanel header="Manage Users">
        Manage Users
    </p-tabPanel>
</p-tabView>

{{company | json}}

<app-question></app-question>